<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/css/sb-admin-2.min.css' />
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  {{{body}}}
</body>

</html>